<mat-sidenav-container class="sidenav-container">
  <mat-sidenav-content class="sidenav-content">
    <mat-toolbar class="toolbar">
      <div class="brand-logo">
        <div class="grid-col">
          <div class="col">
            <img src="./../../assets/logo-2.svg" alt="App Logo" class="img-responsive" />
          </div>
          <div class="col">
          </div>
        </div>
      </div>
    </mat-toolbar>
    <router-outlet> </router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
